<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'QuickTutor/css/style.css' %}">
  <link rel="icon" href="{% static 'QuickTutor/images/favicon.png' %}">

  <title>QuickTutor</title>
</head>

<body style="overflow-x: hidden;">
  <nav class="navbar navbar-expand-lg" style="z-index:5;">
    <a class="navbar-brand" href="{% url 'QuickTutor:index' %}" style="color: white">QuickTutor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" style="color: white;">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" style="color: white;">About Us </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: white">
            {% if user.is_authenticated %}
              {{ user.username }}
            {% else %}
              More
            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'QuickTutor:student' %}">Student</a>
            <a class="dropdown-item" href="{% url 'QuickTutor:tutor' %}">Tutor</a>
            {% if user.is_authenticated %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            {% endif %}
          </div>
        </li>
      </ul>


    </div>
  </nav>

  <div>
    {% block content %}
    {% endblock %}
  </div>

  <!-- <footer class="footer">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6" style="color:whitesmoke; font-size: 1.5rem;">
          <div class="d-inline-block" style="margin-top: 24px;">
            <a style="color: whitesmoke; text-decoration: none">
              QuickTutor
            </a>
            <hr style="border:0.1rem solid rgb(212, 212, 212); width:25%; margin-left: 0" />
          </div>
        </div>

        <div class="col-md-6" style="color:whitesmoke; font-size: 1.5rem;">
          <div class="row">
            <div class="col-md-6">
              <div>

              </div>
              <div>

              </div>
            </div>
            <div class="col-md-6">
              <div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer> -->



</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>