<!-- LOAD DJANGO TAGS -->
{% load static %}

<footer>
    <div class="container footer">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6" style="color:whitesmoke; font-size: 1.5rem;">
                    <div class="d-inline-block" style="margin-top: 24px;">
                        <a style="color: whitesmoke; text-decoration: none">
                            QuickTutor
                        </a>
                        <hr style="border:0.1rem solid rgb(212, 212, 212); width:25%; margin-left: 0"/>
                    </div>
                </div>

                <div class="col-md-6" style="color:whitesmoke; font-size: 1.5rem;">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                
                            </div>
                            <div>
                               
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>