{% extends 'QuickTutor/base.html' %}

{% block content %}
{% load static %}


<div class="row" style="margin-top: 5vh;">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" style="font-size: 2rem;">
        <h1>Welcome to QuickTutor</h1>
    </div>
    <div class="col-md-3"></div>
    
</div>
<div class="row" style="margin-top: 10vh;">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" style="font-size: 2rem;">
        <a class="btn btn-primary" href="{% url 'QuickTutor:login' %}" role="button" style="width: 10vh;">Login</a>
    </div>
    <div class="col-md-3"></div>
</div>



{% endblock %}