{% extends 'QuickTutor/base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'QuickTutor/css/balls.css' %}">
<div class="row" style="margin-top: 5vh;">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" style="font-size: 2rem;">
        <h1>Waiting for Student Response...</h1>
    </div>
    <div class="col-md-3"></div>

</div>
<div class="row" style="margin-top: 10vh; height: 45vh">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" style="font-size: 1.4rem;">
        <p>Hi {{currentUser.firstName}},</p>
        <p>
            We have alerted the student of your acceptance! We will let you know if the student accepts back.
            You will be automatically redirected if the student accepts :)
        </p>
        <p>
            Please enjoy this animation while you wait!
        </p>
        <p>
            - Team Scrumpy Cat
        </p>

        <div class="ballCont">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
    </div>
    <div class="col-md-3"></div>

</div>



<script>
    function runCheck() {
        $.ajax({
            url: "{% url 'QuickTutor:checkaccepted' %}",
            success: function (data) {
                if (data[0].accepted == 1) {
                    tutorSelected('{{currentUser.status}}', '{{studentRequestHeader}}', '{{studentUsername}}');
                }
                else {
                    setTimeout(runCheck, 250);
                }
            },
            complete: function () {

            }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        setTimeout(runCheck, 1);
    }, false);

    function tutorSelected(status, studentRequestHeader, studentUsername) {
        window.location.replace("/tutorsession/" + studentRequestHeader + "/" + studentUsername);
    }
</script>

{% endblock %}