{% extends 'QuickTutor/base.html' %}

{% block content %}
{% load static %}
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    var stripe = Stripe('pk_test_Ltbh60zfVQxrwVcdJ0cFSVsg00Dwsg5x6u');
</script>

<form action="{% url 'QuickTutor:charge' %}" method="post">
    {% csrf_token %}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_Ltbh60zfVQxrwVcdJ0cFSVsg00Dwsg5x6u"
        data-description="Paying the Tutor"
        data-amount="{{ amount }}"
        data-locale="auto">
    </script>
</form>


{% endblock %}