{% extends 'QuickTutor/base.html' %}

{% block content %}
{% load static %}


<div class="row" style="margin-top: 5vh;">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" style="font-size: 2rem;">
        <h1>Welcome {{ student.firstName }} </h1>
    </div>
    <div class="col-md-3"></div>
    
</div>

{% if student.status == 0 %}
<!-- Default (cancelled/make request) -->
<div class="row" style="margin-top: 10vh;">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" style="font-size: 2rem;">
        <a class="btn btn-primary" href="{% url 'QuickTutor:make_request' %}">Make Request</a>
    </div>
    <div class="col-md-3"></div>
</div>

{% elif student.status == 1 %} 
<!-- waiting for tutors state/list view -->
<div class="row" style="margin-top: 10vh;">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" style="font-size: 2rem;">
        <h3>Current Requests</h3>
        <ul class="list-group"></ul>
        {% for request in specificStudentRequestList %}
            <li = class="list-group-item"><font size = "4">
                Course Name: <font color = "blue">{{request.courseName}}</font> 
                <br>Subject: <font color = "blue">{{request.subject}}</font> 
                <br>Description: <font color = "blue">{{request.description}}</font> 
                <br>Location: <font color = "blue">{{request.location}}</font> 
                <br>Confusion Meter: <font color = "blue">{{request.confusionMeter}}</font> 
                <br><button type="submit" class="btn btn-primary">Cancel Request</button> </font></li>
        {% endfor %}
        </ul>
        <h4>List of Tutors</h4>
        <ul class="list-group">
            <li class="list-group-item">Bob</li>
            <li class="list-group-item">Joe</li>
            <li class="list-group-item">Billy</li>
            <li class="list-group-item">idk</li>
            <li class="list-group-item">cool</li>
        </ul>
    </div>
    <div class="col-md-3"></div>
</div>

{% endif %}

{% endblock %}