{% extends 'QuickTutor/base.html' %}

{% block content %}
{% load static %}


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" style="font-size: 2rem;">
        <div class="row justify-content-center">
            <div class="col-8" style="background-color: white; border-radius: 1rem; border-color:black;">
                <h1 class="mt-1" style="padding-top: 10rem;">Make a Request</h1>
                {% csrf_token %}
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Course Mnemonic and Number</label>
                        <p><font size = "3"><i>For example: CS3240</i></font></p>
                        <input class="form-control" type="text" name="courseName" id="courseName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Subject</label>
                        <input class="form-control" type="text" name="subject" id="subject">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <input class="form-control" type="text" name="description" id="description">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Location</label>
                        <input class="form-control" type="text" name="location" id="location">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Confusion Level (0-10)</label>
                        <p><font size = "3"><i>With 0 being not confused and 10 being completely lost</i></font></p>
                        <input class="form-control" type="number" name="confusion" id="confusion" min="0" max="10">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>



{% endblock %}