{% extends 'QuickTutor/base.html' %}

{% block content %}
{% load static %}


<div class="row" style="margin-top: 5vh;">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" style="font-size: 2rem;">
        <h1>Welcome {{ student.firstName }} </h1>
    </div>
    <div class="col-md-3"></div>
    
</div>

{% if student.status == 0 %}
<!-- Default (cancelled/make request) -->
<div class="row" style="margin-top: 10vh;">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" style="font-size: 2rem;">
        <a class="btn btn-primary" href="{% url 'QuickTutor:make_request' %}">Make Request</a>
    </div>
    <div class="col-md-3"></div>
</div>

{% elif student.status == 1 %} 
<!-- waiting for tutors state/list view -->
<div class="row" style="margin-top: 10vh;">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" style="font-size: 2rem;">
        <h3>List of Tutors</h3>
        <ul class="list-group">
            <li class="list-group-item">Bob</li>
            <li class="list-group-item">Joe</li>
            <li class="list-group-item">Billy</li>
            <li class="list-group-item">idk</li>
            <li class="list-group-item">cool</li>
        </ul>
    </div>
    <div class="col-md-3"></div>
</div>

{% endif %}

{% endblock %}