{% extends 'QuickTutor/base.html' %}

{% block content %}
{% load static %}


<div class="row" style="margin-top: 5vh;">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" style="font-size: 2rem;">
        <h1>Welcome Tutor</h1>
    </div>
    <div class="col-md-3"></div>
    
</div>
{% if user.is_authenticated %}
<div class="row" style="margin-top: 10vh;">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" style="font-size: 2rem;">
        <p>Logged in as {{ user.username }}</p>
        <!-- lists the course name -->
        <h2>List of Student Requests</h2>
        <ul class="list-group"></ul>
        {% for request in studentRequestList %}
            <li = class="list-group-item"><font size = "4">
                Course Name: <font color = "blue">{{request.courseName}}</font> 
                <br>Subject: <font color = "blue">{{request.header}}</font> 
                <br>Description: <font color = "blue">{{request.description}}</font> 
                <br>Location: <font color = "blue">{{request.location}}</font> 
                <br>Confusion Meter: <font color = "blue">{{request.confusionMeter}}</font> 
                <br><a href="/match/es6xs/">Accept</button> 
                </li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-3"></div>
</div>
{% else %}


{% endif %}

{% endblock %}